:root {
  --cdr-text-line-height-0: 16;
  --cdr-text-line-height-1: 18;
  --cdr-text-line-height-2: 20;
  --cdr-text-line-height-3: 22;
  --cdr-text-line-height-4: 24;
  --cdr-text-line-height-5: 26;
}
