:root {
  --cdr-feedback-success-faint: #eefbee;
  --cdr-feedback-success-faint: oklch(0.9749 0.0219 145.40);
  --cdr-feedback-success-bold: #d7f0d7;
  --cdr-feedback-success-bold: oklch(0.9301 0.0425 145.22);
  --cdr-feedback-edge-success: #589b5e;
  --cdr-feedback-edge-success: oklch(0.6289 0.1134 146.05);
  --cdr-feedback-edge-warning: #a98400;
  --cdr-feedback-edge-warning: oklch(0.6309 0.1289 88.78);
  --cdr-feedback-edge-error: #e05543;
  --cdr-feedback-edge-error: oklch(0.6308 0.1770 30.13);
  --cdr-feedback-warning-faint: #fef7e1;
  --cdr-feedback-warning-faint: oklch(0.9758 0.0298 92.31);
  --cdr-feedback-warning-bold: #f7e7b9;
  --cdr-feedback-warning-bold: oklch(0.9295 0.0621 91.14);
  --cdr-feedback-error-faint: #fff1ed;
  --cdr-feedback-error-faint: oklch(0.9680 0.0161 36.53);
  --cdr-feedback-error-bold: #ffdbd2;
  --cdr-feedback-error-bold: oklch(0.9191 0.0421 34.32);
  --cdr-feedback-on-error: #e05543;
  --cdr-feedback-on-error: oklch(0.6308 0.1770 30.13);
  --cdr-feedback-on-info: #3d6db9;
  --cdr-feedback-on-info: oklch(0.5389 0.1305 259.24);
  --cdr-feedback-info-faint: #eaf8ff;
  --cdr-feedback-info-faint: oklch(0.9708 0.0175 229.00);
  --cdr-feedback-info-bold: #d2eaff;
  --cdr-feedback-info-bold: oklch(0.9259 0.0383 244.61);
}
