:root {
  --cdr-navigation-edge-brand: #c2bdb5;
  --cdr-navigation-edge-brand: oklch(80.015% 0.0125 79.78);
  --cdr-navigation-edge-neutral: #c2bdb5;
  --cdr-navigation-edge-neutral: oklch(80.015% 0.0125 79.78);
  --cdr-navigation-on-neutral: #b4afa6;
  --cdr-navigation-on-neutral: oklch(75.555% 0.0139 82.4);
}
