:root {
  --cdr-feedback-success-faint: #eefbee;
  --cdr-feedback-success-faint: oklch(97.487% 0.0219 145.4);
  --cdr-feedback-success-bold: #d7f0d7;
  --cdr-feedback-success-bold: oklch(93.008% 0.0425 145.22);
  --cdr-feedback-edge-success: #589b5e;
  --cdr-feedback-edge-success: oklch(62.892% 0.1134 146.05);
  --cdr-feedback-edge-warning: #a98400;
  --cdr-feedback-edge-warning: oklch(63.095% 0.1289 88.78);
  --cdr-feedback-edge-error: #e05543;
  --cdr-feedback-edge-error: oklch(63.079% 0.177 30.13);
  --cdr-feedback-warning-faint: #fef7e1;
  --cdr-feedback-warning-faint: oklch(97.577% 0.0298 92.31);
  --cdr-feedback-warning-bold: #f7e7b9;
  --cdr-feedback-warning-bold: oklch(92.949% 0.0621 91.14);
  --cdr-feedback-error-faint: #fff1ed;
  --cdr-feedback-error-faint: oklch(96.805% 0.0161 36.53);
  --cdr-feedback-error-bold: #ffdbd2;
  --cdr-feedback-error-bold: oklch(91.909% 0.0421 34.32);
  --cdr-feedback-on-error: #e05543;
  --cdr-feedback-on-error: oklch(63.079% 0.177 30.13);
  --cdr-feedback-on-info: #3d6db9;
  --cdr-feedback-on-info: oklch(53.893% 0.1305 259.24);
  --cdr-feedback-info-faint: #eaf8ff;
  --cdr-feedback-info-faint: oklch(97.078% 0.0175 229);
  --cdr-feedback-info-bold: #d2eaff;
  --cdr-feedback-info-bold: oklch(92.593% 0.0383 244.61);
}
